[submodule "ns-3-dev-git"]
	path = ns-3-dev-git
	url = https://github.com/MrTono/ns-3-dev-git.git
[submodule "ns-3-dce-git"]
	path = ns-3-dce-git
	url = https://github.com/MrTono/ns-3-dce-git.git
[submodule "lua-static"]
	path = lua-static
	url = https://github.com/mrichart/lua-static.git
[submodule "LuPA"]
	path = LuPA
	url = https://github.com/mrichart/LuPA.git
[submodule "Rnr"]
	path = Rnr
	url = https://github.com/mrichart/Rnr.git
[submodule "tau-fst"]
	path = tau-fst
	url = https://github.com/MrTono/tau-fst.git
